<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8"/>
<title>thymeleaf 模板</title>
<style>
.show {padding: 10px;margin: 10px;}
.show2 {margin-top: 10px;}
</style>
</head>
<body>
<h4>
<h1>this is table</h1>
这个html 是通过 thymeleaf 转化的模板 并不是静态的html要是使用表达式则要在 html中引用 xmlns:th="http://www.thymeleaf.org"
</h4>
<div class="show">
	<div class="show">
	<span th:text="${name}" >hello 静态显示</span>
	<span th:text="${#dates.format(time, 'yyyy-M-d HH:mm:ss')}">2017-1-1</span>
	</div>
	<a th:href="@{/queryForBean}">查询actor</a>
	
	<div class="show2">
	<a th:href="@{/queryMap}">table操作</a>
	</div>
	
	
</div>		
</body>
</html>